[submodule "TextInputLineNumber"]
	path = TextInputLineNumber
	url = https://github.com/griloHBG/TextInputLineNumber
[submodule "find_in_devicetree"]
	path = find_in_devicetree
	url = https://github.com/griloHBG/find_in_devicetree
